/*
* loop alert
*/
.popover.middle {
  background-color:red;
  
  text-align:center;
  line-height: 2;
  min-width: 50%;
  min-height: 50%;
  margin-left: 30%;
  margin-top: 30%;
}
.bigText {
  font-size: 2.5em;
  font-weight:bold;
}
#smallText {
  font-size: 1em;
  font-weight:bold;
}

/* 
* customized popovers - basics
*/
.popover.braceleft_L {
  margin-left: 240px;
  margin-top:50px;
}
.popover.braceright_L {
  margin-left: 240px;
  margin-top:50px;
}
.popover.move {
  margin-left: 240px;
  margin-top:120px;
}
.popover.turnLeft {
  margin-left: 240px;
  margin-top:150px;
}
.popover.pickBeeper {
  margin-left: 240px;
  margin-top:220px;
}
.popover.putBeeper {
  margin-left: 240px;
  margin-top:250px;
}

/* 
* customized popovers - query
*/
.popover.queriesSurr {
  margin-left: 110px;
  margin-top:-80px;
}
.popover.if {
  margin-left: 145px;
  margin-top:50px;
}
.popover.else {
  margin-left: 145px;
  margin-top:80px;
}
.popover.for {
  margin-left: 145px;
  margin-top:150px;
}
.popover.while {
  margin-left: 145px;
  margin-top:180px;
}
.popover.bitAnd {
  margin-left: 145px;
  margin-top:250px;
}
.popover.bitOr {
  margin-left: 145px;
  margin-top:250px;
}


/* 
* customized popovers - conditions
*/

.popover.frontIsClear {
  margin-left: 350px;
  margin-top:50px;
}
.popover.leftIsClear {
  margin-left: 350px;
  margin-top:80px;
}
.popover.rightIsClear {
  margin-left: 350px;
  margin-top:110px;
}
.popover.beepersPresent {
  margin-left: 350px;
  margin-top:180px;
}
.popover.beepersInBag {
  margin-left: 350px;
  margin-top:210px;
}
.popover.facingNorth {
  margin-left: 350px;
  margin-top:280px;
}
.popover.facingEast {
  margin-left: 350px;
  margin-top:310px;
}
.popover.facingSouth {
  margin-left: 350px;
  margin-top:340px;
}
.popover.facingWest {
  margin-left: 350px;
  margin-top:370px;
}

/* 
* customized popovers - negativ conditions
*/

.popover.frontIsBlocked {
  margin-left: 35px;
  margin-top:50px;
}
.popover.leftIsBlocked {
  margin-left: 35px;
  margin-top:80px;
}
.popover.rightIsBlocked {
  margin-left: 35px;
  margin-top:110px;
}
.popover.noBeepersPresent {
  margin-left: 35px;
  margin-top:180px;
}
.popover.noBeepersInBag {
  margin-left: 35px;
  margin-top:210px;
}
.popover.notFacingNorth {
  margin-left: 35px;
  margin-top:280px;
}
.popover.notFacingEast {
  margin-left: 35px;
  margin-top:310px;
}
.popover.notFacingSouth {
  margin-left: 35px;
  margin-top:340px;
}
.popover.notFacingWest {
  margin-left: 35px;
  margin-top:370px;
}

/* 
* customized popovers - own functions
*/
.popover.deleteOwnFunction {
  margin-left: 200px;
  margin-top:120px;
}
.popover.editOwnFunction {
  margin-left: 200px;
  margin-top:120px;
}
.popover.braceleft_R {
  margin-left: 200px;
  margin-top:50px;
}
.popover.braceright_R {
  margin-left: 200px;
  margin-top:50px;
}


/* 
* customized popovers - control Panel
*/
.popover.controlPanel {
  	margin-left: 10px;
}



.popover.queriesSurr .arrow {
  top: 30%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.queriesSurr .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}


/* ARROWS 
*
*
* popovers wich appear to the left 
*/
.popover.move .arrow,
.popover.turnLeft .arrow,
.popover.putBeeper .arrow,
.popover.pickBeeper .arrow,
.popover.if .arrow,
.popover.else .arrow,
.popover.for .arrow,
.popover.while .arrow,
.popover.braceleft_L .arrow,
.popover.braceright_L .arrow,
.popover.frontIsClear .arrow,
.popover.leftIsClear .arrow,
.popover.rightIsClear .arrow,
.popover.beepersPresent .arrow,
.popover.beepersInBag .arrow,
.popover.facingNorth .arrow,
.popover.facingEast .arrow,
.popover.facingSouth .arrow,
.popover.facingWest .arrow,
.popover.bitAnd .arrow,
.popover.bitOr .arrow {
  top: 45px;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.move .arrow:after,
.popover.turnLeft .arrow:after,
.popover.putBeeper .arrow:after,
.popover.pickBeeper .arrow:after,
.popover.if .arrow:after,
.popover.else .arrow:after,
.popover.for .arrow:after,
.popover.while .arrow:after,
.popover.braceleft_L .arrow:after,
.popover.braceright_L .arrow:after,
.popover.frontIsClear .arrow:after,
.popover.leftIsClear .arrow:after,
.popover.rightIsClear .arrow:after,
.popover.beepersPresent .arrow:after,
.popover.beepersInBag .arrow:after,
.popover.facingNorth .arrow:after,
.popover.facingEast .arrow:after,
.popover.facingSouth .arrow:after,
.popover.facingWest .arrow:after,
.popover.bitAnd .arrow:after,
.popover.bitOr .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}


/* popovers wich appear to the right */
.popover.frontIsBlocked .arrow,
.popover.leftIsBlocked .arrow,
.popover.rightIsBlocked .arrow,
.popover.noBeepersPresent .arrow,
.popover.noBeepersInBag .arrow,
.popover.notFacingNorth .arrow,
.popover.notFacingEast .arrow,
.popover.notFacingSouth .arrow,
.popover.notFacingWest .arrow,
.popover.deleteOwnFunction .arrow,
.popover.editOwnFunction .arrow,
.popover.braceleft_R .arrow,
.popover.braceright_R .arrow {
  top: 45px;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.frontIsBlocked .arrow:after,
.popover.leftIsBlocked .arrow:after,
.popover.rightIsBlocked .arrow:after,
.popover.noBeepersPresent .arrow:after,
.popover.noBeepersInBag .arrow:after,
.popover.notFacingNorth .arrow:after,
.popover.notFacingEast .arrow:after,
.popover.notFacingSouth .arrow:after,
.popover.notFacingWest .arrow:after,
.popover.deleteOwnFunction .arrow:after,
.popover.editOwnFunction .arrow:after,
.popover.braceleft_R .arrow:after,
.popover.braceright_R .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}

.popover.controlPanel .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.controlPanel .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}
